.valing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 600px) {
  .valing {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
